# Created by .ignore support plugin (hsz.mobi)
.idea
docker-compose/influxdb/data
docker-compose/lnmp/mysql/data
docker-compose/lnmp/nginx/logs
docker-compose/mysql/mysql/data
docker-compose/minio/minio/data